@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100svh;
  width: 100%;
}

img {
  max-width: 100%;
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}
